div.hdrWrap {
  background-color: #111;
  width: 100%;
  position: fixed;
  z-index: 111;
}
div.hdrWrap header {
  overflow: hidden;
  display: flex;
  position: relative;
  text-align: center;
}
div.hdrWrap header label i {
  font-size: 30px;
  line-height: 40px;
}
div.hdrWrap header label input {
  vertical-align: middle;
}
div.hdrWrap header label:hover {
  cursor: pointer;
}
div.hdrWrap header h1 {
  max-width: 160px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
div.hdrWrap header h1 img {
  height: 40px;
}

input#openNav ~ div.hdrWrap header label i.xi-bars {
  display: inline;
}
input#openNav ~ div.hdrWrap header label i.xi-close-thin {
  display: none;
}

input#openNav:checked ~ div.hdrWrap header label i.xi-bars {
  display: none;
}
input#openNav:checked ~ div.hdrWrap header label i.xi-close-thin {
  display: inline;
}

input#openNav ~ div.navWrap {
  width: 0;
  transition: width 0.5s;
}
input#openNav ~ div.navWrap .navMenu2 {
  overflow: hidden;
}

input#openNav:checked ~ div.navWrap {
  width: 100%;
}
input#openNav:checked ~ div.navWrap .navMenu2 {
  overflow: visible;
}

div.navWrap {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.999), rgba(33, 33, 33, 0.8) 100%);
  position: fixed;
  width: 100%;
  margin-top: 40px;
  z-index: 110;
}
div.navWrap nav {
  display: flex;
  justify-content: center;
}
div.navWrap nav .navMenu {
  width: calc(100% * 5 / 12 - 20px);
  display: flex;
  justify-content: center;
  text-align: right;
  overflow: hidden;
}
div.navWrap nav .navMenu dl {
  width: 100%;
  padding: 80px 0;
}
div.navWrap nav .navMenu dl dt {
  font-size: 20px;
  font-weight: 300;
  width: 200px;
  margin: 0 auto;
  text-shadow: 0px 0px 5px #fff;
  overflow: visible;
}
div.navWrap nav .navMenu dl dd {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  width: 200px;
  margin-top: 40px;
  overflow: visible;
  text-shadow: 0 0px 1px #fff;
}
div.navWrap nav .navMenu dl dd:hover {
  width: 190px;
  text-shadow: 0px 5px 20px rgba(255, 255, 255, 0.1);
  text-shadow: 0px 5px 20px #ff9696;
}
div.navWrap nav .navMenu dl dd label {
  cursor: pointer;
}
div.navWrap nav .navMenu2 {
  width: calc(100% * 7 / 12 - 20px);
  overflow: hidden;
}
div.navWrap nav .navMenu2 .image {
  width: calc(100% + (100vw - 1080px) / 2 + 10px);
  height: 520px;
  background-size: cover;
  background-position: center;
}
div.navWrap input#nav1:hover ~ div.navMenu2 .i1 {
  background-image: url(../img/index/nav1.jpg);
}
div.navWrap input#nav2:hover ~ div.navMenu2 .i1 {
  background-image: url(../img/index/nav2.jpg);
}
div.navWrap input#nav3:hover ~ div.navMenu2 .i1 {
  background-image: url(../img/index/nav3.jpg);
}
div.navWrap input#nav4:hover ~ div.navMenu2 .i1 {
  background-image: url(../img/index/nav4.jpg);
}

div.mainWrap {
  background-image: url(../img/sub4/main.jpg);
  background-size: cover;
  background-position: top;
  padding-top: 40px;
}
div.mainWrap main h2 {
  padding: 80px 0;
  color: #eee;
  text-shadow: 0 1px 5px black;
}

div.brand {
  padding: 0;
}
div.brand .header {
  background-color: #333;
}
div.brand .header .title {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}
div.brand .header .title h3 {
  line-height: 40px;
  font-size: 36px;
  color: #eee;
}
div.brand section {
  margin: 0 auto;
}
div.brand section article {
  display: flex;
  justify-content: space-between;
}
div.brand section article .texts {
  padding-top: 160px;
  width: 66.66%;
}
div.brand section article .texts ul {
  width: 75%;
  margin-top: 40px;
}
div.brand section article .texts ul li {
  margin-top: 20px;
}
div.brand section article .image3 {
  width: 33.33%;
}
div.brand section article .image3 .image2 {
  width: calc(120% + (100vw - 1080px) / 2);
  min-width: 450px;
  height: 600px;
  background-color: #f60;
  position: relative;
  overflow: hidden;
  transform: skew(15deg);
}
div.brand section article .image3 .image2 .image1 {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  transform: skew(-15deg);
  position: absolute;
  left: -80px;
}
div.brand section article .image3 .image2 .i1 {
  background-image: url(../img/sub4/img1.jpg);
}
div.brand section article .image3 .image2 .i2 {
  background-image: url(../img/sub4/img2.jpg);
}
div.brand section article:nth-of-type(2) {
  margin-top: 80px;
  direction: rtl;
}
div.brand section article:nth-of-type(2) .texts {
  text-align: right;
  direction: rtl;
}
div.brand section article:nth-of-type(2) .image3 {
  direction: rtl;
}
div.brand section article:nth-of-type(2) .image3 .image2 {
  direction: rtl;
  transform: skew(-15deg);
}
div.brand section article:nth-of-type(2) .image3 .image2 .image1 {
  transform: skew(15deg);
  left: 80px;
}

div.awards {
  padding: 0;
}
div.awards .header {
  background-color: #333;
}
div.awards .header .title {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}
div.awards .header .title h3 {
  line-height: 40px;
  font-size: 36px;
  color: #eee;
}
div.awards header {
  margin-top: 80px;
  text-align: left;
}
div.awards section {
  display: flex;
  padding: 80px 0;
  margin-top: 0;
}
div.awards section .year ul li {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  width: 160px;
  line-height: 40px;
}
div.awards section .year ul li:nth-of-type(2) {
  font-size: 60px;
  color: #000;
  line-height: 80px;
}
div.awards section .border {
  margin: 0 35px;
  margin-top: 40px;
}
div.awards section .border .top {
  background-color: #000;
  width: 5px;
  height: 155px;
  border: 0;
}
div.awards section .border .bot {
  background-color: #ccc;
  width: 5px;
  height: 600px;
  border: 0;
  margin-top: 5px;
}
div.awards section .month dl {
  color: #000;
  margin-top: 40px;
}
div.awards section .month dl dt {
  font-size: 24px;
  line-height: 40px;
}
div.awards section .month dl dd {
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  margin-top: 20px;
}
div.awards section .month dl dd p {
  font-size: 16px;
  line-height: 40px;
  color: #555;
}
div.awards section .month dl dd:nth-of-type(1) {
  margin-top: 40px;
}

div.career {
  padding: 0;
}
div.career .header {
  background-color: #333;
}
div.career .header .title {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}
div.career .header .title h3 {
  line-height: 40px;
  font-size: 36px;
  color: #eee;
}
div.career header {
  width: 100%;
  max-width: 100%;
  height: 320px;
  background-position: center;
  background-size: cover;
  background-image: url(../img/sub4/main2.jpg);
}
div.career section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0;
  padding: 80px 0;
}
div.career section h3 {
  width: calc(33.33% - 20px);
  text-align: left;
}
div.career section label {
  display: flex;
  justify-content: space-between;
  width: calc(66.66% - 20px);
  border-bottom: 1px solid #333;
}
div.career section label input {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  line-height: 40px;
  height: 40px;
}
div.career section label i {
  font-size: 30px;
  line-height: 40px;
  cursor: pointer;
}
div.career section h5 {
  width: 100%;
  text-align: left;
}
div.career section .select1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div.career section .select1 select {
  width: calc(33.33% - 20px);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  height: 40px;
  border: 0;
  background-color: #ccc;
}
div.career section .select2 {
  width: 100%;
}
div.career section .select2 dl {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #000;
}
div.career section .select2 dl:nth-child(1) {
  margin-top: 40px;
}
div.career section .select2 dl dt {
  width: calc(33.33% - 20px);
  line-height: 40px;
  height: 80px;
}
div.career section .select2 dl dd {
  width: calc(33.33% - 20px);
  font-weight: 500;
  line-height: 40px;
  height: 80px;
}
div.career section .select2 dl dd:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
div.career section .select2 dl dd:nth-of-type(2) a {
  display: block;
  font-size: 40px;
}
div.career section .select2 dl dd:nth-of-type(2) a i {
  font-weight: 700;
}

.ftrWrap {
  background-color: #111;
}
.ftrWrap footer h1 {
  text-align: center;
}
.ftrWrap footer h1 a img {
  height: 40px;
}
.ftrWrap footer ul {
  overflow: hidden;
}
.ftrWrap footer ul li {
  float: left;
  margin-right: 20px;
}
.ftrWrap footer hr:nth-of-type(2) {
  margin-top: 40px;
}
.ftrWrap footer nav {
  display: flex;
  justify-content: space-between;
}
.ftrWrap footer nav .navi {
  display: flex;
}
.ftrWrap footer nav .navi a {
  display: block;
  font-size: 30px;
  margin-left: 20px;
}/*# sourceMappingURL=sub4.css.map */